$colors: (
    primary: (
       
        400: #f01e00,
    ),
    input:(
        100: #f0f0f2,
    ),
    neutral:(
        100: #fff,
        200: #f5f5f5,
        300: #89898c, 
        400: #88888c,
        500: #525254,  
        600: #252526,
        700: #111827,
        900: #000
    ),

    border: (
        100: #eee,

    )

    
)